wip/.*
*.ts
wip/break_1.aiff
wip/break_2.aiff
wip/break_3_rev.wav
wip/break_3.aiff
wip/break_3.aiff.asd
wip/break_4.aiff
wip/break_5.aiff
wip/break_grit.aiff
wip/break_transfer.amxd
wip/break_v20.aiff
wip/draw_lantent.amxd
wip/draw_latent_8D.maxpat
wip/draw_latent_mira_8.maxpat
wip/draw_latent_mira.maxpat
wip/eight_amen_recon.aiff
wip/eight_free_latent.aiff
wip/eight_headhunterz_recon.aiff
wip/eight_prior_temperatures.aiff
wip/eight_prior.aiff
wip/eight_pulse_x_recon.aiff
wip/env_latent-4.maxpat
wip/env_latent-8.maxpat
wip/flock_latent.maxpat
wip/general_testing.maxpat
wip/krak_latent_2.aiff
wip/krak_latent_2.aiff.asd
wip/krak_latent_3.aiff
wip/krak_latent_4_purenoise.aiff
wip/krak_latent_5.aiff
wip/krak_latent.aiff
wip/latent_noise_4.maxpat
wip/latent-fb-szuf.maxpat
wip/latent-fb.maxpat
wip/lfo_latent_4.maxpat
wip/lfo_latent_16.maxpat
wip/lfo_latent_mono-4-osc.maxpat
wip/lfo_latent_mono-4.maxpat
wip/lfo_latent_mono-no_encode.maxpat
wip/lfo_latent_mono-simple.maxpat
wip/lfo_latent_mono.maxpat
wip/lfo_latent-8-osc.maxpat
wip/lfo_latent-8-wave.maxpat
wip/lfo_latent-8-wpr.maxpat
wip/lfo_latent-15-osc.maxpat
wip/lfo_latent-16-energy.maxpat
wip/lfo_latent-16-krak_ws.maxpat
wip/lfo_latent.maxpat
wip/LICENSE
wip/live_lfo_latent-8.maxpat
wip/live-reconstruction.maxpat
wip/multislider_latent.maxpat
wip/nn_simple.maxpat
wip/no-input mixer-1.aiff
wip/no-input mixer-2-stereo.aiff
wip/no-input mixer-3-stereo.aiff
wip/no-input mixer.aiff
wip/nupg_break_test_2.aiff
wip/nupg_break_test_4.aiff
wip/nupg_break_test_5.aiff
wip/nupg_break_test.aiff
wip/nupg-reconstruction.maxpat
wip/plot_latent_2d.maxpat
wip/plot_latent_3d.maxpat
wip/prior_test.maxpat
wip/prior-gated.maxpat
wip/pulsebreak.aiff
wip/reconstruction.maxpat
wip/sah_latent_mono.amxd
wip/szuf-latent.amxd
wip/three6break.aiff
